<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="kütüphaneotomasyon.Properties.Settings.db_kutuphaneConnectionString"
            connectionString="Data Source=dbktp.database.windows.net;Initial Catalog=db_kutuphane;User ID=dbktp;Password=D123123d"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>